<plugin name='sendfile' version='0.1' grailsVersion='1.3.6 &gt; *'>
  <author>Vitaliy Samolovskih</author>
  <authorEmail>kefir@perm.ru</authorEmail>
  <title>Sendfile for Tomcat, Apache, Nginx</title>
  <description>\
Allow to use senfile or X-sendfile functionality of web-servers.
</description>
  <documentation>http://grails.org/plugin/sendfile</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>sendfile.SendFileService</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>